@{
    ViewData["Title"] = "Student Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Welcome to Student Dashboard Test</h1>
<p>This page shows the sidebar always,no user type checkee.</p>
