@model SWMSU.Models.PsychologyProfile

@{
    ViewData["Title"] = "Psychologist Profile";
}

<h2>Psychologist Profile</h2>

<form asp-action="PsychologyProfile"
      method="post"
      enctype="multipart/form-data">

    @* Hidden fields *@
    <input type="hidden" asp-for="PsychologistId" />
    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label asp-for="Room"></label>
        <input asp-for="Room" class="form-control" />
    </div>

    <div class="form-group">
        <label>Patients See</label>
        <select asp-for="SeverityType" class="form-control">
            <option value="">-- Select Severity --</option>
            <option value="Normal">Normal</option>
            <option value="Medium">Medium</option>
            <option value="Severe">Severe</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Qualification"></label>
        <input asp-for="Qualification" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Specialization"></label>
        <input asp-for="Specialization" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ExperienceYears"></label>
        <input asp-for="ExperienceYears"
               type="number"
               class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Bio"></label>
        <textarea asp-for="Bio"
                  class="form-control"
                  rows="4"></textarea>
    </div>


    <div class="mb-3">
        <label asp-for="ImageFile" class="form-label">Profile Image</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">
        Save Profile
    </button>
</form>
